<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData[ViewKey.Title] | DotNetNinja.Templates.Mvc</title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/DotNetNinja.Templates.Mvc.css" asp-append-version="true" />
    </head>
    <body>
        
        <header>
            <partial name="_NavBar"/>
        </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer text-muted pt-2 mt-3">
            <div class="container">
                <copyright start-year="2021" message="DotNetNinja.Templates.Mvc - All rights reserved."/>
            </div>
        </footer>

        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/DotNetNinja.Templates.Mvc.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
